.navbar {
  width: 100vw;
  min-width: 100%;
  background: #fff;
  color: #000;
  /* border-bottom: 1px solid #ccc; */
  box-shadow: 0 4px 12px rgba(140, 29, 64, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-left {
  display: flex;
  gap: 12px;
}

.navbar-right {
  display: flex;
  gap: 12px;
}

.nav-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 1em;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.nav-btn:hover {
  color: #8C1D40;
  text-decoration: underline;
}

.logout-btn {
  border: none;
  background-color: #8C1D40;
  font-weight: bold;
  color: white;
  border-radius: 999px;
  padding: 8px 16px;
}

.logout-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #66152f;
}

.navbar-logo {
  height: 55px;
  width: auto; 
  cursor: pointer; 
  margin-right: 16px; 
}