.orders-container {
    display: flex;
    flex-direction: row;
    justify-content: center;     
    align-items: flex-start;
    margin-top: 120px;
    gap: 100px;                 
}

.active-orders-container,
.past-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;       
    width: 350px;                
}

.active-orders-container h3,
.past-orders-container h3 {
    text-align: center;
    margin-bottom: 16px;
}

.active-orders-container ul,
.past-orders-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}