.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    aspect-ratio: 1 / 1;        
    width: 100%;                 
    min-width: 0;                  
    min-height: 200px;    
    max-width: 150px;
    max-height: 320px;     
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    border: 2px solid #8C1D40;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.menu-item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8C1D40;
}

.menu-item-description {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 6px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Allow up to 4 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
    font-style: italic;
}

.menu-item-price {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: auto;
    text-align: center;
    width: 100%;
    color: #333;
}
.top-level-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-card button {
    border: none;
    background-color: #FFC627;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    color: #8C1D40;
    font-weight: 600;
}

.menu-card button {
    cursor: pointer;
}