.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #8C1D40;
  border-radius: 8px;
  padding: 24px;
  margin-top: 120px;
  margin-left: 40px;
  width: fit-content;
  min-width: 0;
  box-sizing: border-box;
  background: #fff;
}

.menu-title {
  font-size: 1.5em;
  font-weight: bold;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 150px));
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  justify-content: center;
}

.menu-card:hover {
    transform: scale(1.05);
}

.cart-container {
  margin-top: 120px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #8C1D40;
  border-radius: 8px;
  padding: 24px;
  width: fit-content;
  min-width: 250px;
  box-sizing: border-box;
  background: #fff;
  min-height: 450px;
}

.cart-item{
    text-align: left;
    margin-right: 40px;
    background-color: #8c1d4034;
    border: 2px solid #8C1D40;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    padding: 6px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

ul {
  list-style-type: none;
}

.cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  /* gap: 6px; */
}

.cart-item-list{
  padding: 0;
   margin-bottom: 60px;
}

.cart-total{
  display: flex;
 
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 6px;
  font-size: 15px;
   
}
.total {
  font-weight: 500;
}

.price {
  font-weight: 700;
}
.checkout-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8C1D40;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-button:hover {
  background-color: #66152f;
  transform: scale(1.05);
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
