.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  margin-top: 120px;
  margin-left: 40px;
  width: fit-content;
  min-width: 0;
  box-sizing: border-box;
  background: #fff;
}

.menu-title {
  font-size: 1.5em;
  font-weight: bold;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 150px));
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  justify-content: center;
}
.cart-container {
  margin-top: 120px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  width: fit-content;
  min-width: 250px;
  box-sizing: border-box;
  background: #fff;
  min-height: 450px;
}
.cart-item{
    text-align: left;
    margin-right: 40px;
    
}
.cart-item-list{
   margin-bottom: 60px;
}

.cart-total{
    font-weight: bold;
    text-align: left;
    margin-right: 50px;
}
.checkout-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}