.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    aspect-ratio: 1 / 1;        
    width: 100%;                 
    min-width: 0;                  
    min-height: 200px;    
    max-width: 150px;
    max-height: 320px;     
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    border: 2px solid #8C1D40;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.menu-item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8C1D40;
}

.menu-item-description {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 6px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Allow up to 4 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
    font-style: italic;
}

.menu-item-price {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: auto;
    text-align: center;
    width: 100%;
    color: #333;
}
.top-level-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-card button {
    border: none;
    background-color: #FFC627;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    color: #8C1D40;
    font-weight: 600;
}
.cart-container {
  margin-top: 120px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #8C1D40;
  border-radius: 8px;
  padding: 24px;
  width: fit-content;
  min-width: 250px;
  box-sizing: border-box;
  background: #fff;
  min-height: 450px;
}
.menu-card button {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .top-level-menu-container {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .menu-container {
       margin: 0 auto !important;
       margin-top: 100px !important;
       
    }
    .cart-container {
        margin: 0 auto !important;
        
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .cart-container {
        width: 400px;
        height: auto;
    }
    
}


